.git
.github
.gitignore
.gitattributes
.editorconfig
.DS_Store
.agents
.cursor
.junie
.claude
node_modules
vendor
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache
tests
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
